<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <th:block th:include="~{fragments/nav}"></th:block>
    <main class="mt-3">
        <div class="bg-image-home">
            <div class="row d-flex justify-content-between">
                <div class="products-navigation   col-md-3">
                    <form class="text-center font-weight-bold">
                        <div class="dropdown">
                            <a class="nav-link active dropdown-toggle " href="#" role="button" id="moderatorDropdown"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h1 class="text-center font-weight-bold">Select a product category</h1>
                            </a>
                            <div class="dropdown-content ">
                                <a th:each="c : ${categories}" th:object="${c}" class="dropdown-item"
                                   th:text="|*{name}|" th:href="@{/categories/current/{id}(id=${c.getId()})}">Add
                                    Category</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                <div class="data col-md-8">
                    <h1>
                        <a class="text-center font-weight-bold" th:href="@{/products/all}">See all products</a>
                    </h1>
                    <div class="products-data"></div>
                </div>
            </div>
    </main>
    <th:block th:include="~{fragments/footer}"></th:block>
</div>
</body>
</html>